<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfarabi.aplikasinumerik"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alfarabi.aplikasinumerik.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.extend.GlobalActivity"
            android:label="@string/title_activity_global"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.secant.SecantActivity"
            android:label="@string/title_activity_secant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.secant.ResultSecantActivity"
            android:label="@string/title_activity_result_secant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.other.PanduanActivity"
            android:label="@string/title_activity_panduan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.other.TentangActivity"
            android:label="@string/title_activity_tentang"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.other.KritikActivity"
            android:label="@string/title_activity_kritik"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.newtonraphson.NewtonRaphsonActivity"
            android:label="@string/title_activity_newton_raphson" >
        </activity>
        <activity
            android:name="com.alfarabi.aplikasinumerik.activity.newtonraphson.ResultNewtonRaphsonActivity"
            android:label="@string/title_activity_newton_raphson" >
        </activity>
    </application>

</manifest>